* {
  box-sizing: border-box;
} 

body {
  font-family: sans-serif,Arial;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}

.header {
  border-bottom: 3px dotted #09492b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 100px;
}

.name {
  font-size: 2rem;
  color: #09492b;
  font-weight: 900; 
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: #09492b; 
  text-align: center;
}

.form-container {
  border: 1px gainsboro solid;
  margin-top: 20px;
}

.form-container .grey {
  background: rgb(235, 235, 235);
  width: 100%;
  display: block;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
}

label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

label span {
  font-weight: 600;
  font-size: .9rem;
  margin-bottom: 2px;
}

label input {
  padding: 11px;
  border-radius: 5px;
  outline-color:  lightblue;
  border: 1px gainsboro solid;
}
::placeholder {
  font-size: 1rem;
}

label small {
  font-size: .8rem;
  opacity: .6;
} 

.schedule-link {
  border: 1px gainsboro solid;
  text-decoration: none;
  color: black;
  opacity: .6;
  width: fit-content;
  padding: 8px;
  font-size: .8rem;
  transition: .4s;
}

.schedule-link:hover {
  background-color: rgb(240, 240, 240);
}

@media (max-width: 450px) {
 
  .header {
    margin-top: 20px;
  }

  .header img {
    width: 60px;
  }

  .name {
    font-size: 1.3rem;
  }
  
  .title {
    font-size: 1rem;
  }
  label input {
    padding: 11px;
    border-radius: 5px;
    outline-color:  lightblue;
    border: 1px gainsboro solid;
  }
  ::placeholder {
    font-size: .85rem;
  }
  
}