body {
  margin: 0;
  font-family: sans-serif, Arial;
}
::-webkit-scrollbar {
  display: none;
}

.navbar {
  margin: 20px;
}

.body {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0 4%;
}

img {
  width: 80px;
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  width: 35%;
  outline-color: lightblue;
}
::placeholder{
  font-size: 1rem;
}

.content {
  overflow-x: scroll;
  width: 100vw;
}
::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: #198754; 
  display: flex;
  width: 100vw;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.program , .course{
  width: 20%;
  padding: 10px;
}

.olevel, .compulsory {
  width: 35%;
  padding: 10px;
}

.olevel-elect, .olevel-elective {
  width: 40%;
  padding: 10px;
}


.dark-row {
  background-color: rgb(235, 235, 235);
  display: flex;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.light-row {
  background-color: white;
  display: flex;
  border-bottom: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.content {
  flex-direction: column;
  display: flex;
}

@media (min-width: 451px) and (max-width: 800px) {
  .header {
    background-color: #198754; 
    display: flex;
    width: 1000px;
  }

  .content {
    flex-direction: column;
    display: flex;
    width: 1000px;
  }
}

@media (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    
  }
    
  img {
    width: 60px;
  }

  input {
    padding: 10px;
    width: 50%;
    outline-color: lightblue;
  }
  ::placeholder{
    font-size: .8rem;
  }

  .body {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .header {
    background-color: #198754; 
    display: flex;
    width: 1000px;
  }

  .program, .olevel,  .olevel-elect {
    font-size: .95rem;
    /* color: antiquewhite; */
  }
  .program , .course{
    width: 20%;
  }
  .course, .compulsory, .olevel-elective {
    font-size: .77rem;
  }

 
  .olevel, .compulsory {
    width: 35%;
  }


  .olevel-elect, .olevel-elective {
    width: 45%;
  }

  .dark-row {
    background-color: rgb(235, 235, 235);
    display: flex;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
  }
  .light-row {
    background-color: white;
    display: flex;
  }

  .content {
    flex-direction: column;
    display: flex;
    width: 1000px;
  }
}