body {
  margin: 0;
  font-family: sans-serif, Arial;
}
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.nabar {
  background-color: #054829;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  color: white;
  row-gap: 10px;
  font-size: 1.55rem;
}
img {
  width: 80px;
}
.nabar div {
  color: white;
  font-size: 1.55rem;
}

.post-utme-body-content {
  margin: 25px 20px;
  box-shadow: 0 0px 10px rgb(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  padding: 50px 0;
}

.title {
  color: #054829;
  font-size: 1.5rem;
  font-weight: 600;
}

.content-description {
  font-size: 1.2rem;
  text-align: center;
}

.view-screening {
  background-color: rgb(255, 213, 0);
  color: white;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

@media (max-width: 450px) {
  
  .nabar {
    height: 105px;
    color: white;
    font-size: 1.55rem;
    padding: 10px;
    row-gap: 15px;
  }
  .nabar div {
    color: white;
    font-size: .855rem;
  }

  img {
    width: 60px;
  }

  .post-utme-body-content {
    margin: 25px 20px;
    box-shadow: 0 0px 10px rgb(0, 0, 0, .15);
    row-gap: 15px;
    padding: 20px 10px;
  }

  .title {
    color: #054829;
    font-size: .85rem;
    font-weight: 600;
  }

  .content-description {
    font-size: .72rem;
    text-align: center;
  }

  .view-screening {
    background-color: rgb(255, 213, 0);
    color: white;
    margin-bottom: 10px;
    padding: 8px 13px;
    border-radius: 5px;
    font-size: .7rem;
  }
}