* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient( to bottom,hsl(190, 30%, 96%),  whitesmoke);
  /* background-color:  */
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.portal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, .013);
  padding: 35px 20px;
  border-radius: 5px;
}

img {
  width: 60px;
  margin-bottom: 10px;
}

.portal-title {
  width: 80%;
  text-align: start;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  margin-top: 15px;
  width: 80%;
}

label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

label span {
  color: rgb(16, 126, 16);
  font-size: .9rem;
}

label input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(240, 240, 240);
  outline-color: lightblue;
  width: 100%;
  background-color: hsl(190, 30%, 96%);
}

.login-link {
  width: 100%;
}

button {
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(16, 126, 16);
}

@media (min-width: 451px) and (max-width: 800px) {
  .portal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .013);
    padding: 35px 20px;
    border-radius: 5px;
  }
}

@media(max-width: 450px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .013);
    padding: 35px 10px;
    border-radius: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    margin-top: 15px;
    width: 89%;
  }
}  