* {
  box-sizing: border-box;
}

body {
  background-color: green;
  height: 100vh;
  margin: 0;
  font-family: sans-serif,Arial;
  padding-top: 25px;
}
::-webkit-scrollbar {
  display: none;
}

.student-portal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 75px;
  margin-bottom: 20px;
}

.student-portal .title {
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 29%;
  margin-top: 10px;
}

.form-container .title {
  color: rgb(32, 142, 179);
  font-size: 1rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 17px;
  margin-top: 20px;
  width: 90%;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
}

input {
  padding: 12px;
  border-radius: 5px;
  outline-color: lightblue;
  border: 1px gainsboro solid;
}
::placeholder {
  font-size: 1.1rem;
}

.option {
  display: flex;
  justify-content: end;
  width: 100%;
}

.option span {
  color: blue;
  font-weight: 500;
}
a {
  width: 100%;
}
button {
  background-color: rgba(0, 128, 0, 0.745);
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1rem;
  box-shadow: 0 0px 8px rgba(0, 128, 0, 0.145);
  font-weight: 600;
}

.bottom-content {
  margin-top: 25px;
  font-size: .94rem;
  text-align: center;
}

a {
  text-decoration: none;
}

@media (min-width: 451px) and (max-width: 800px) {
  .form-container {
    width: 55%;
  }
}

@media (max-width: 450px) {
  body {
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    padding: 20vh 0;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
  }
    
  .student-portal {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 65px;
  }

  .student-portal .title {
    color: white;
    font-size: 1.29rem;
  }

  .form-container {
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 80%;
  }

  .form-container .title {
    color: rgb(32, 142, 179);
    font-size: .95rem;
  }

  .form {
    row-gap: 12px;
    margin-top: 15px;
    width: 80%;
  }

  label {
    row-gap: 3px;
  }
  label span {
    font-size: .95rem;
  }
  input {
    padding: 8px;
    border-radius: 5px;
    outline-color: lightblue;
    border: 1px gainsboro solid;
  }
  ::placeholder {
    font-size: .9rem;
  }

  .option span {
    font-size: .8rem;
  }

  button {
    padding: 8px;
    font-size: .9rem;
    box-shadow: 0 0px 8px rgba(0, 128, 0, 0.145);
  }

  .bottom-content {
    margin-top: 10px;
    font-size: .84rem;
  }

  a {
    text-decoration: none;
  }
}

small {
  font-size: .65rem;
  background-color: rgba(255, 0, 0, 0.163);
  width: 100%;
  padding: 4px 5px;
  color: red;
  margin: -5px 0 -8px 0;
}

.hide {
  display: none;
  opacity: 0;
}