* {
  box-sizing: border-box;
  /* padding: ; */
}

body {
  margin-top: 0;
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.transcript-portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.title {
  font-size: 1.5rem;
  color: rgb(11, 80, 137);
  font-weight: 550;
  margin-bottom: 25px;
}

.portal-container {
  background-color: white;
  color: rgb(11, 80, 137);
  padding: 30px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgb(0, 0, 0, .09);
}

.content-title {
  font-size: 1.1rem;
  font-weight: 600;
  overflow: visible;
}

.list-container {
  padding-left: 15px;
}

li {
  display: flex;
  align-items: start;
}


.list-title {
  font-weight: 600;
  display: inline-block;
  margin-right: 20px;
  width: 150px;
  font-size: .9rem;
  margin-bottom: 15px;
}

.description {
  display: inline-block;
  width: 250px;
  margin-bottom: 15px;
  font-size: .8rem;
}

.transcript-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 15px;
  width: 100%;
}

.transcript-option-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.sub-title {
  font-size: .8rem;
  opacity: .6;
}

.options-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
}

.blue {
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: .8rem;
  border: 1px black solid;
  background-color: rgb(22, 106, 174);
}

.red {
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: .8rem;
  background-color: rgb(226, 55, 55);
}
/* 
@media (min-width: 420px) and (max-width: 510px) {
  .list-container {
    padding-left: 10px;
    margin-top: 20px;
  }

  li {
    display: flex;
    align-items: start;
    column-gap: 10px;
  }


  .list-title {
    font-weight: 600;
    display: inline-block;
    margin-right: 0px;
    width: initial;
    font-size: .95rem;
    margin-bottom: 15px;
  }

  .description {
    display: inline-block;
    width: fit-content;
    margin-bottom: 15px;
    font-size: .85rem;
  }  
} */

@media (max-width: 450px) {
  
  .transcript-portal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top: 30px;
  }

  .title {
    font-size: 1.1rem;
    color: rgb(11, 80, 137);
    font-weight: 550;
    margin-bottom: 15px;
    
  }

  .portal-container {
    background-color: white;
    color: rgb(11, 80, 137);
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0, .09);
    width: 100%;
    overflow-x: scroll;
  }

  .content-title {
    font-size: .851rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .list-container {
    padding-left: 10px;
    width: 100%;
  }

  li {
    display: flex;
    align-items: start;
    column-gap: 10px;
  }


  .list-title {
    font-weight: 600;
    display: inline-block;
    margin-right: 0px;
    width: 200px;
    font-size: .75rem;
    margin-bottom: 15px;
  }

  .description {
    display: inline-block;
    width: 250px;
    margin-bottom: 15px;
    font-size: .7rem;

  }

  .transcript-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 15px;
    width: 100%;
  }

  .transcript-option-title {
    font-size: .89rem;
    font-weight: 600;
    text-align: center;
    color: black;
  }

  .sub-title {
    font-size: .7rem;
    opacity: .6;
  }

  .options-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;
  }

  .blue ,  .red{
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    font-size: .6rem;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}